{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": 2,
        "helpers": true,
        "regenerator": true,
        "useESModules": true,
        "module":false
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ]
}