
@import '@/scss/mixin.scss';
.toast_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    .text_des_wrapper{
        // width:pxToRem(188);
        height:pxToRem(48);
        line-height:pxToRem(48);
        padding: 0 pxToRem(20);
        box-sizing: border-box;
        background:rgba(17,17,17,0.7);
        border-radius:5px;
        font-size:pxToRem(15);
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(255,255,255,1);
        text-align: center;
    }
}